name: Update GitHub Activity

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Update Activity
    permissions:
      contents: write
    
    steps:
      - uses: actions/checkout@v4
      - uses: TheDanniCraft/activity-log@v1
        with:
          GITHUB_USERNAME: Kromilla
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          EVENT_LIMIT: 5
